* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 30px;
}

header {
    display: flex;
    flex-direction: column;
    flex: auto;
    background-color: #1F2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: start;
    align-items: center;
    gap: 100px;
    height: 630px;
}

.navbar {
    display: flex;
    /* flex: auto; */
    justify-content: center;
    align-items: center;
    width: 1265px;
    gap: 12px;
    height: 75px;
}

header h1 {
    margin-right: auto;
    font-size: 30px;
    color: #F9FAF8;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: auto;
    gap: 22px;
}

a {
    text-decoration: none;
    color: #E5E7Eb;
    font-size: 18px;
}

.header-content {
    width: 1265px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up {
    width: 472px;
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin: right auto;
}

.sign-up h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.header-content p {
    font-size: 18px;
    color: #E5E7Eb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: start;
    margin: 0;
}

.sign-up button {
    background-color: #3882F6;
    border-radius: 9px;
    font-size: 18px;
    color: #E5E7Eb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    font-weight: bold;
    border-style: none;
    width: 140px;
}

.photo-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: auto;
}

.photo-container img {
    width: 500px;
    height: auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 30px;
    height: 500px;
}

.content h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    text-wrap: wrap;
    gap: 65px;
}

.content-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 208px;
    gap: 12px;
}

.content-photo img{
    border: 4px solid #3882F6;
    border-radius: 25px;
    width: 200px;
    height: 200px;
}

.content-photo .text {
    display: flex;
    text-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #1F2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.quote-contents {
    width: 1027px;
    flex-direction: column;
    display: flex;
}

.quote p {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.quote h1 {
    color: #1F2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: auto;
}

.call2action {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 350px;
}

.call2action-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1265px;
    background-color: #3882F6;
    border-radius: 9px;
    padding: 60px;
}

.cover {
    width: 1027px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call2action-content h1, p {
    color: #F9FAF8;
    margin: 0;
}

.call {
    margin-right: auto;
}

.button2 {
    background-color: #3882F6;
    border-radius: 9px;
    border: 3px solid #E5E7EB;
    font-size: 18px;
    color: #E5E7Eb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    font-weight: bold;
    width: 140px;
}

footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

footer h4 {
    color: #F9FAF8;
    margin: 0;
}