body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    flex: auto;
    background-color: #1F2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: start;
    align-items: center;
    gap: 100px;
    height: 550px;
}

.navbar {
    display: flex;
    /* flex: auto; */
    justify-content: center;
    align-items: center;
    width: 1200px;
    gap: 12px;
}

h3 {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: auto;
    gap: 18px;
}

a {
    text-decoration: none;
    color: #E5E7Eb;
    font-size: 18px;
}

.header-content {
    width: 1200px;
    display: flex;
}

.sign-up {
    width: 472px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: right auto;
}

.sign-up h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.header-content p {
    font-size: 18px;
    color: #E5E7Eb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: start;
    margin: 0;
}

button {
    background-color: #3882F6;
    border-radius: 9px;
    font-size: 18px;
    color: #E5E7Eb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    font-weight: bold;
    border-style: none;
    width: 140px;
}

.photo-container {
    width: 600px;
    display: flex;
    background-color: #6D747D;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content-photo img{
    border: 3px solid #3882F6;
    border-radius: 9px;
}